[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jiahao Huang
	email = 33877832+jiahaoh@users.noreply.github.com
